.intro__profile {
  /*Bild med title och namn*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-image: url(/img/webp/hogwarts-3476786_1920.webp);
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__title h2 {
  width: 100%;
  color: var(--clrRedHarryPotter);
  text-decoration: underline var(--clrPurpleHarryPotter);
}
.intro__picture {
  width: 100%;
  margin-right: 70%;
}
.intro__info {
  margin-top: 20px;
  width: 50%;
}
.intro__info ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 20px;
}
.intro__info,
.intro__information,
.intro__presentation {
  background-color: var(--clr2Light);
}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1600px) {}