.progress {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.progress__title {
  width: 100%;
  border-top: solid 2px var(--white);
}
.progress__skill {
  display: flex;
  justify-content: space-between;
}
.skill-1 {
  width: 70%;
}
.skill-2 {
  width: 45%;
}
.skill-3 {
  width: 86%;
}
.skill-4 {
  width: 23%;
}
.skill-5 {
  width: 96%;
}
.progress__progress-bar {
  width: 100%;
}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1600px) {}